.homeTitle {
  padding-top: 10px;
  font-size: 20pt;
}

.slider-item {
  position: relative;
}

.carousel-caption {
  position: absolute;
  top: 80%;
  left: 35%;
  transform: translate(-50%, -10%);
  text-align: center;
  color: #fff;
}

.image-container {
  overflow: hidden;
  object-fit: cover;
}

.zoom-image {
  transition: transform 1.0s;
}

.zoom-image:hover {
  transform: scale(2.2);
}

.professional-tabs .nav-link {
  color: #333;
}

.professional-tabs .nav-link.active {
  font-weight: bold;
}

.professional-tabs .nav-item {
  margin-right: 10px;
}

.professional-tabs .nav-item:last-child {
  margin-right: 0;
}

.professional-tabs .nav-link:hover {
  color: #007bff;
}

#share-dropdown {
  background: #ffffff !important;
  border: none;
}

#cardHover {
  overflow: hidden;
}

#cardimg {
  transition: 400ms all;
  width: 105%;
}

#cardimg:hover {
  scale: 1.5;
}

.cardCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-5 {
  padding-bottom: 20px;
}

@media (min-width: 1200px){
.css-1oqqzyl-MuiContainer-root {
    max-width: 1343px !important;
}}

.css-bhp9pd-MuiPaper-root-MuiCard-root {
  height: 23rem !important;
}


/* ===========Swiper Slider============= */


.swiper {
  width: 100%;
  height: 100%;
}


@media (max-width:650px) {
  .sliderMain {
    height: 30rem !important;
}

}

@media screen and (max-width: 800px) {
  .homeTitle {
    font-size: 15pt;
  }
}
@media screen and (max-width: 600px) {
  .homeTitle {
    font-size: 10pt;
  }
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

.sliderMain {
  max-width: 65rem;
  height: 55rem;
  width: 80%;
  display: flex;
  margin: auto;
  margin-bottom: 1vw;
  padding: 0rem;


  .swiper-button-next:after {
    color: #FFD400;
    position: absolute;
    left: -1.3rem;
  }

  .swiper-button-prev:after {
    color: #FFD400;
    position: absolute;
    left: 1.3rem;
  }


  .swiper-pagination-bullet {
    background: #fff;
  }

  .innerContent {
    position: relative;

    div {
      position: absolute;
      bottom: 3vw;
      left: 6vw;
      color: #ffffff;

      h1 {
        font-size: 1.8rem;
        text-align: left;
      }

      p {
        font-size: 1rem;
      }
    }


    @media (max-width:600px) {
      div {
        position: absolute;
        bottom: 3vw;
        left: 6vw;
        color: #ffffff;

        h1 {
          font-size: 1.2rem;
          text-align: left;
        }

        p {
          font-size: .9rem;
        }
      }
    }

  }
}