.tournament {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .tournament .tournamentName {
    font-family: cursive;
    font-size: 60px;
  }

  .filters-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    padding: 10px;
    border-color: #ddd;
    border-width: 1px;
    border-style: solid;
    border-left: none;
    border-right: none;
  }

  .filter {
    background-color: #ddd;
    width: 50%;
    border-radius: 10px;
    height: 2.5rem;
    padding: 0 15px;
    display: flex;
    align-items: center;
  }
  
  .tournamentList {
    width: 70vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: right;
  }
  
  .tournamentItem {
    border-radius: 15px;
    width: 300px;
    margin: 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }
  .tournamentItem:hover {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in;
    cursor: pointer;
  }
  
  .tournamentItem div {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .tournamentItem h1{
    text-align: center;
  }

  .tournamentItem p {
    text-align: left;
    margin: 10px;
  }

  .tournament-image {
    width: 100%;
    background-size: cover;
    background-position: center;
  }
  
  @media only screen and (max-width: 1300px) {
    .tournamentList {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .tournamentList {
      grid-template-columns: 1fr;
    }
  }
  